<!--Diseño del formulario de adicion de documentos -->
<form action="/new" method="POST" class="card bg-black text-light">
    <div class="card-body pg-4">
        <div class="mb-3">
            <label for="doc_name">Doc's name:</label>
            <input type="text" name="doc_name" placeholder="Doc's name" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="author">Author's name:</label>
            <input type="text" name="author" placeholder="Author's name"class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="doc_type">Doc's Type:</label>
            <input type="text" name="doc_type" placeholder="Doc's Type" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="doc_units">Units number:</label>
            <input type="number" name="doc_units" placeholder="Units number" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="doc_value">Doc's value</label>
            <input type="number" name="doc_value" placeholder="Doc's value" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        
        <button class="btn btn-secondary">save</button>
    </div>
    
</form>