<!--Diseño del formulario de adicion de documentos -->
<form action="/inventary/new_doc" method="POST" class="card bg-black text-light" enctype="multipart/form-data">
    <div class="card-body pg-4">
        <div class="mb-3">
            <label for="doc_name">Doc's name:</label>
            <input type="text" name="doc_name" placeholder="Doc's name" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="author">Author's name:</label>
            <input type="text" name="author" placeholder="Author's name"class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="doc_type">Doc's Type:</label>
            <input type="text" name="doc_type" placeholder="Doc's Type" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="doc_units">Units number:</label>
            <input type="number" min=0  name="doc_units" placeholder="Units number" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="doc_value">Doc's value</label>
            <input type="number" min=0 step=0.01 name="doc_value" placeholder="Doc's value" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="doc_value">Doc's daily value</label>
            <input type="number" min=0 step=0.01 name="d_value" placeholder="Doc's value" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="imagen">Product image</label>
            <input class="form-control form-control-sm" id="u_imagen" type="file" accept="image/*" name="u_imagen"  accept-charset="utf-8">
        </div>
        <div class="mb-3">
            <label for="doc_value">Doc's dealer</label>
            <input type="text" name="dealer" placeholder="Doc's dealer" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <button class="btn btn-secondary">save</button>
    </div>
    
</form>